.DS_Store
CItest/Library
CItest/Temp
*.csproj
*.pidb
*.unityproj
*.sln
*.suo
*.userprefs
obj/
CItest/Temp/
CItest/Start_Data/
CItest/Start.exe
#######
# Git
######
*.orig
*.orig.meta
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*.MERGED.*

CItest/*.exe
CItest/Kopex_Data/
CItest/Kopex_oculus_Data/
UnitTests/
CItest/Assembly-CSharp-vsTests/
Assembly*
